body {
    margin: 0;
    background: linear-gradient(45deg, rgb(15, 9, 22), rgb(49, 39, 59), slateblue);
    font-family: 'Nunito', sans-serif;;
}

.title-container{
    display: flex;
    justify-content: center;
}

.main-title{
    text-align:center;
    border: 2px solid rgb(56, 59, 13);
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(197, 35, 197), pink, slateblue );
    font-size:40px;
    width: 400px;
    font-weight: bolder;
    padding: 5px;
    color:darkslategray;
    letter-spacing: 3px;
    font-family: 'Noto Sans', sans-serif;
}

.description{
    padding: 5px;
    padding-left: 15px;
    font-weight:bold;
    color: white;
}

.content{
    border:solid darkslategray 2px;
    border-radius: 5px;
    background:white;
    padding: 10px;
}

.content label{
    font-size:18px;
    padding:15px, 1px, 15px, 5px;
    font-weight: bold;
}

.trophy{
    width: 30px;
    padding-left: 5px;
}

.error{
    margin:2px 2px 2px 2px;
}

.number-winners{
    display: flex;
    justify-content: flex-end;
}

.number-gif{
    max-height: 20px;
    border-radius: 5px;
    max-width: 50px;
    margin-top: 5px;
}

.winners{
    max-width: 600px;
    font-weight: bolder;
    background: transparent;
    text-align: left;
    border-radius: 10px;
    font-family: 'Noto Sans', sans-serif;
    color: black;
    line-height: 30px;
}

.button{
    border: 2px black solid;
    border-radius:5px;
    margin:15px 5px ;
    background: transparent;
    color:white;
    width: 90px;
    height: 40px;
    letter-spacing: 1px;
}

.button:hover{
    background: rgb(11, 83, 190);
    color: white;
    cursor: pointer;
}

.button:active{
    transform: scale(.9);
}

.wrap{
    width: 700px;
    display:flex;
    justify-content: space-around;
}