body{
    margin: 0;
    background-color: #e5e9f3;
}

.cabecera{
    background: #3b5998;
    width: 100%;
    height: 10%;
    margin-bottom: 5px;
}

.cabecera h1{
    font-family: Tahoma;
    font-size: 35px;
    color: white;
    float: left;
    padding: 22px 2% 1% 18%;
    margin: 0 5% 0 0;


}

.cabecera table{
    font-size: 13px;
    float: right;
    padding: 2px 18% 2% 1%;
    color: white;
    font-family: Tahoma;
}

.cabecera input{
    width: 159px;
    height: 20px;
    border: solid black 1px;
}

.cabecera button{
    background-color: #4b6fb6;
    border: #4b72be 1px solid;
    border-style: groove;
    color: white;
    font-weight: bold;
    height:19px;

}

.cabecera a{
    text-decoration: none;
    color: #a6bff3;
    font-weight: lighter;
    font-size: 12px;
}

.eslogan{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin: 2% 2% 0 18%;
    color: #1c3777;
    font-family: Tahoma;
}

img{
    margin: 1% 0 0 18%;
    width: 35%;
    float: left
    
}

.formulario{
float: right;
width: 30%;
margin: -95px 15% 0 0;

}

.formulario p{
    font-size: 35px;
    font-family: Tahoma;
    font-weight: 550;
    color: rgb(61, 61, 61);
    margin: 6% 0 -5px 0;
}

.formulario span{
    font-family: Tahoma;
    font-size: 18px;
    color: rgb(61, 61, 61);
}

.formulario input.name{
    font-size: 16px;
    width: 205px;
    height: 38px;
    margin: 18px 0 5px 0;
    padding: 2px 0 2px 6px;
    border-radius: 5px;
    border: 1px solid #a6bff3;
}

input.largo{
    width: 413px;
    font-size: 16px;
    height: 38px;
    margin: 5px 0 5px 0;
    padding: 2px 0 2px 6px;
    border-radius: 5px;
    border: 1px solid #a6bff3;
}

p.fecha{
    font-size: 15px;
    font-weight: bold;
    color: rgb(136, 135, 135);
    margin-bottom: 10px;
    font-family: Tahoma;
}

select.date{
    width: 55px;
    height: 25px;
    padding: 0 0 0 5px;
    border-radius: 2px;
    border: 1px solid #a6bff3;
}

p.sexo{
    font-size: 15px;
    font-weight: bold;
    color: rgb(136, 135, 135);
    margin-bottom: 10px;
    font-family: Tahoma;
    margin-top: 15px;

}

input.sex{
    margin: 5px 0px 5px 0;
    border-radius: 5px;
    border: 1px solid #a6bff3;

}

span.genero{
    margin: 0 12px 0 0;
}

p.politicas{
    word-wrap: break-word;
    width: 320px;
    font-size: 11px;
    margin:15px 0 10px 0;
    color: rgb(136, 135, 135);
    font-family: Tahoma;
    font-weight: lighter;
    text-align: justify;
    word-spacing: -1px;
}

.politicas a{
    text-decoration-line: none;
    color: rgb(66, 66, 255);
}

input.registrob{
    background: linear-gradient(#79bc64, #578843);
    border-radius:5px;
    color:#fff;
    cursor:pointer;
    width: 200px;
    height: 45px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    border: solid 1px #568641;
}

input.registrob:hover{
    background: linear-gradient(#86c573, #578843);

}

p.sugerencia{
    word-wrap: break-word;
    width: 360px;
    font-size: 12px;
    margin:15px 0 10px 0;
    color: rgb(109, 108, 108);
    font-family: Tahoma;
    font-weight: bold;
    text-align: justify;
    word-spacing: -1px;

}

p.sugerencia a{
    text-decoration-line: none;
    color: rgb(66, 66, 255);
}

footer{

    background-color: white;
    clear: both;
    margin: 600px 0 0 0 ;
    padding: 0 0 -5px 0;
}

footer ul{
    list-style: none;
    margin-bottom: auto;

}

footer ul li{
    display: inline;
    text-align: center;
    color: rgb(66, 66, 255);
    padding: 12px 0 0 60px;
    font-size: small;
    
}

hr{
    width: 60%;
}

span.cp{
    padding: 0 0 0 100px;
    font-size: small;
    color:rgb(136, 135, 135);
}
