body {
    margin: 0;
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    padding: 0;
    
}

.title-container{
    width:100%;
    display:flex;
    align-content:center;
    justify-content:center;
    
}

.title{
    text-align:center;
    margin:5px 4px;
    border-radius:18px 4px 18px 4px;
    background: linear-gradient(225deg,pink, lightblue, lightgray);
    color:black;
    font-weight:bold;
    width: 250px;
    font-family: 'Source Sans Pro', sans-serif;
}

h4{
    margin: 5px;
}

.app{
    width: 1000px;
}

.show{
    margin: 25px 0px 5px 15px;
    width: 50px;
    transition: 0.5s;
}

.show:hover{
transform: rotate(45deg);
}

ul{
    list-style: none;
    position: fixed;
}

ul li ul{
    display: none;
}

ul li{
    width: 70px; 
}



ul li:hover> ul{
    display: block;
}

#input-title{
    width: 150px;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

#reminder{
    width: 200px;
    border-radius: 8px;
    padding: 5px;
}

#boton-add{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    background: transparent;
    border: blue 2px solid;
    font-weight: bolder;
}

#boton-add:active{ 
    transform: scale(0.9);
}

.box-container{
    margin: 10px 2px;
    display: list-item;
    word-wrap: break-all;
    float: right;
    list-style: none;
}

.tarea{
    background-color: plum;
    margin: 8px;
    width: 400px;
    border: solid 1px lightsteelblue;
    border-radius: 5px;
    background: rgb(230, 231, 236);
    padding: 5px;
}

.tarea a{
    text-decoration: none;
}

.option1{
    width: 23px;
}

.option2{
    width: 25px;
}

.option1:active, .option2:active{
    transform: scale(0.9);
}





