body{
    background-image: url(https://images6.alphacoders.com/725/thumb-1920-725422.jpg);
    width: 100%;
    color: white;
    font-size: 20px;
    margin:0 0 0 40px;
}
h1{
    text-align: center;
    font-size: 35px;
    text-decoration-line: underline;
    text-decoration-color: violet;
    color: rgb(168, 139, 168);
    font-family:sans-serif;
}

p{
    text-align: justify;
    font-size: 20px;
    margin: 45px 0 20px 50px;

}

#resultado{
    margin-top: 15px;
}


